<section _ngcontent-gvd-c49="" id="sec-6225" data-image-width="626" data-image-height="385" class="u-clearfix u-image u-section-1">
  <div _ngcontent-gvd-c49="" class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div _ngcontent-gvd-c49="" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0" class="u-container-style u-gradient u-group u-radius u-shape-round u-group-1">
      <div _ngcontent-gvd-c49="" class="u-container-layout u-container-layout-1">
        <h3 _ngcontent-gvd-c49="" class="u-custom-font u-font-lato u-text u-text-default u-text-1 text-center mb-4">Login</h3>
        <form  class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
          <div class="u-form-group u-form-name">
            <label for="name-5cb5" class="u-label">Email</label>
            <input type="text" placeholder="Saisir votre nom" id="name-5cb5" name="email" class="u-input u-input-rectangle" required="">
          </div>
          <div class="u-form-email u-form-group">
            <label for="email-5cb5" class="u-label">Password</label>
            <input type="email" placeholder="Saisir une adresse mail valide" id="email-5cb5" name="password" class="u-input u-input-rectangle" required="">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-gradient u-none u-radius u-btn-1">Login</a>
            <input type="submit" value="submit" class="u-form-control-hidden">
          </div>
          <input type="hidden" value="" name="recaptchaResponse">
          <input type="hidden" name="formServices" value="1a4baae6-8127-e5d7-75ec-6580d50bc27b">
        </form>
</div></div></div></section>
