<section class="u-clearfix u-image u-section-1" id="sec-6225" data-image-width="626" data-image-height="385">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="u-container-style u-gradient u-group u-radius u-shape-round u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="0">
      <div class="u-container-layout u-container-layout-1">
        <h3 class="u-custom-font u-font-lato u-text u-text-default u-text-1">Login</h3>
      </div>
    </div>
  </div>
</section>
