<section class="u-clearfix u-container-align-center u-image u-section-1" id="sec-e5da" data-image-width="626" data-image-height="385">
  <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
    <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-0 u-layout-wrap u-layout-wrap-1">
      <div class="u-layout" style="">
        <div class="u-layout-row" style="">
          <div class="u-align-center u-container-align-center u-container-style u-gradient u-layout-cell u-left-cell u-size-30 u-size-xs-60 u-layout-cell-1" src="">
            <div class="u-container-layout u-container-layout-1"><span class="u-align-center u-icon u-icon-circle u-palette-1-base u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 32 32" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-503b"></use></svg><svg class="u-svg-content" viewBox="0 0 32 32" id="svg-503b"><g><path d="M20.388,10.918L32,12.118l-8.735,7.749L25.914,31.4l-9.893-6.088L6.127,31.4l2.695-11.533L0,12.118 l11.547-1.2L16.026,0.6L20.388,10.918z"></path>
</g></svg>


          </span>
              <h2 class="u-align-center u-text u-text-default u-text-1">Our Mobile App</h2>
              <p class="u-align-center u-text u-text-2">Our mobile Application is Coming Soon , So keep in touch&nbsp;</p>
            </div>
          </div>
          <div class="u-align-center u-container-align-center u-container-style u-image u-layout-cell u-right-cell u-size-30 u-size-xs-60 u-image-1" src="" data-image-width="1920" data-image-height="1080">
            <div class="u-container-layout u-valign-middle u-container-layout-2" src=""></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="u-align-center u-clearfix u-container-align-center u-image u-section-2" id="sec-44fe" data-image-width="626" data-image-height="385">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h2 class="u-align-center u-text u-text-body-alt-color u-text-default u-text-1">New Features In Our web App</h2>
    <div class="u-expanded-width u-layout-horizontal u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
            <img class="u-expanded-width u-image u-image-default u-image-1" alt="" data-image-width="854" data-image-height="1280" src="images/d234ae51dce583d23c2c3f86341044a80976c3c78b3cd865f8348af6cff006dfe8492f98b2d608eed77a70fe00e27b4275b80d3ef2285092bfc997_1280.jpg">
            <h4 class="u-align-left u-text u-text-white u-text-2">Invest in our App today</h4>
            <p class="u-align-left u-text u-text-white u-text-3">Know more advantages through our service</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2">
            <img class="u-expanded-width u-image u-image-default u-image-2" alt="" data-image-width="275" data-image-height="183" src="images/tlcharg2.jpg">
            <h4 class="u-align-left u-text u-text-white u-text-4">Get Advices by Our new Advanced AI assistant&nbsp;</h4>
            <p class="u-align-left u-text u-text-white u-text-5"> Advanced AI assistant would be provided soon</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3">
            <img class="u-expanded-width u-image u-image-default u-image-3" alt="" data-image-width="259" data-image-height="194" src="images/images.jpg">
            <h4 class="u-align-left u-text u-text-white u-text-6">Money Transert 24/7 </h4>
            <p class="u-align-left u-text u-text-white u-text-7">With 100% security</p>
          </div>
        </div>
        <div class="u-align-left u-container-align-left u-container-style u-list-item u-repeater-item">
          <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4">
            <img class="u-expanded-width u-image u-image-default u-image-4" alt="" data-image-width="3840" data-image-height="2160" src="images/stock-trading.jpg">
            <h4 class="u-align-left u-text u-text-white u-text-8">Stocks Trading processing&nbsp;</h4>
            <p class="u-align-left u-text u-text-white u-text-9">Analytics will be provided soon</p>
          </div>
        </div>
      </div>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
        </span>
      </a>
      <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
        <span aria-hidden="true">
          <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
        </span>
        <span class="sr-only">
          <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
        </span>
      </a>
    </div>
  </div>
</section>
<section class="u-clearfix u-container-align-center u-image u-section-3" id="sec-79a9" data-image-width="1749" data-image-height="854">
  <div class="u-clearfix u-sheet u-sheet-1"></div>
</section>
